body {
    background-color: #ebf3ff;
}
#error .img-error {
    width: 100%;
}
#error .error-title {
    font-size: 4rem;
    margin-top: 3rem;
}
.vector-error {
    padding-top: 2rem;
}

@media screen and (max-width: 767px) {
    .error-page {
        margin-bottom: 5rem !important;
    }
    .error-title {
        font-size: 2.5rem !important;
    }
    .error-col {
        text-align-last: center;
    }
    #error {
        padding-top: 2rem;
    }
    #error .img-error {
        width: 75%;
    }
    .vector-error {
        padding-top: unset !important;
    }
}
